.counter_container {
    background-color: #f4f8fc;
    padding: 20px;
    flex-wrap: wrap !important;

}

.counter_item {
    text-align: center;
    color: var(--bs-primary);
}

.icon {
    font-size: 60px;
    margin-bottom: 10px;
}
.counter_number{
    font-size: 30px;
    color: #000;
}
.counter_title{
    font-size: 20px;
    color: #000;
    margin-top: 12px;
    font-weight: bolder;
}
@media (max-width: 600px){
    .counter_container{
        flex-direction: column;
    }
    .counter_item{
        margin: 15px 0;
    }
}