.flex_box {
  display: flex;
}
.justify_evenly {
  justify-content: space-evenly;
}
.justify_around {
  justify-content: space-around;
}
.justify_between {
  justify-content: space-between;
}
.align_center {
  align-items: center;
}
.align_start {
  align-items: flex-start;
}
.flex_col {
  flex-direction: column;
}
.w_full {
  width: 100%;
}
.h_full {
  height: 100%;
}
.m_auto {
  margin: auto;
}
.block {
  display: block;
}
.inline_block {
  display: inline-block;
}
.hidden {
  display: none;
}
.border_none {
  border: none;
}
.outline_none {
  outline: none;
}
.text_center{
  text-align: center;
}